<table border="1">
    <tr>
        <th>Prontuario</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Inicial</th>
        <th></th>
    </tr>
    <tr *ngFor="let patient of patients">
        <td>{{patient.prontuario}}</td>
        <td>{{patient.nome}}</td>
        <td>{{patient.nascimento | date:'dd/MM/yyyy'}}</td>
        <td>{{patient.nascimento | age}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.initial}}</td>
        <td><a (click) = "onAdd(patient)">Adicionar</a></td>
    </tr>
</table>
